body {
    border: 1px solid black;
    height: 600px;
    width: 1000px;
    position:relative;
    left:160px;
    
}
div {
    font-size: large;
    background-color: antiquewhite;
    border: 1px solid black;
    position: relative;
    height: 400px;
    width: 600px;
    top: 100px;
    left:200px;
}

.menu {
    background-color: cadetblue;
    width:150px;
    height:400px;
    position:relative;
    top:-1px;
    left:450px;
    
}

.header {
    background-color: cadetblue;
    height: 70px;
    width: 150px;
    top: -1px;
    left: -1px;
}

.exit {
    background-color: cadetblue;
    height: 50px;
    width: 150px;
    top: -3px;
    left: -1px;
}

.submenu {
    background-color: cadetblue;
    height: 278px;
    width: 150px;
    top: -2px;
    left: -1px;
}

.profile {
    background-color:darkseagreen;
    height:70px;
    width:350px;
    top:-403px;
    float:left;
    left:99px;
}

p {
    direction:rtl;
    text-align:center;
}

.p {
    text-align:right;
}

.avatar {
    background-color: darkslategray;
    height: 70px;
    width: 100px;
    top:-403px;
    left:-1px;

}

.date {
    position:relative;
    background-color:  gainsboro;
    height: 50px;
    width: 450px;
    top:-125px;
    left:-1px;
}

form {
    align-items:center;
    text-align:center;
    font-size:14;
    font:bold;
    align-items:self-start;
}